@mixin header {
  header {
    @include columnFlex;
    @include centerFlex;

    h1 {
      font: {
        size: 3.5rem;
        weight: 400;
      }
      margin: {
        bottom: 4rem;
      }
    }

    h2 {
      padding: {
        top: 0;
      }
    }

    img {
      margin: {
        bottom: 4rem;
      }
    }
  }
}
