@mixin centerFlex {
  justify-content: center;
  align-items: center;
}

@mixin columnFlex {
  display: flex;
  flex-direction: column;
}

@mixin rowFlex {
  display: flex;
  flex-direction: row;
}

@mixin setColor {
  background-color: $bg-color;
  color: $w-color;
}

@mixin setBody {
  margin: 0;
  padding: 0;
}

@mixin move {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;

  @keyframes move {
    from {
      transform: translate(20px);
    }
    to {
      transform: translate(-20px);
    }
  }
}
