@mixin section {
  section {
    @include columnFlex;
    table {
      @include table;
      width: 100%;
    }

    margin: {
      top: 6rem;
    }

    h4 {
      text: {
        align: left;
      }
      margin: 0 {
        bottom: 10px;
      }
      padding: 10px;
      border: {
        bottom: $w-line;
      }
    }
  }
}
