@mixin table {
  tr {
    td {
      width: 50%;
      text: {
        align: left;
      }

      p {
        color: $dust-color;
        margin: 0;
        padding: {
          left: 10px;
        }
        font: {
          weight: 400;
        }
      }

      img {
        padding: 10px {
          left: 0;
          right: 2px;
        }
        margin: {
          top: 4px;
          bottom: 24px;
          left: 10px;
          right: 0;
        }
      }

      div {
        @include rowFlex;
        h2 {
          margin: {
            top: -10px;
            bottom: 14px;
            left: 10px;
            right: 0;
          }
        }
      }
    }
  }
}
