/*
- 배경색 : #699dec
- 폰트 (basic) : #fff
- 폰트 (Dust-type section) : #32568E 
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import 'values';
@import 'mixin';
@import 'header';
@import 'section';
@import 'footer';
@import 'table';

body {
  @include setBody;
}

.App {
  font-family: 'Noto Sans KR', sans-serif;
  @include setColor;
  @include columnFlex;
  @include header;
  @include section;
  @include footer;
}

h2 {
  font: {
    size: 2rem;
    weight: 400;
  }
  margin: 8px 0;
  padding: {
    top: 8px;
  }
}
